doctype html
html
    head
        block title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        main
            block content
        script(src="lib/js.cookie.min.js")
